.u-container{
	max-width: 1400px;
	margin: 0 auto;
	@media only screen and(max-width:1400px){
		width:90%;
	}

	@media only screen and(min-width:1700px){
		max-width:170rem;
		margin:0 auto;
	}
}

.u-highlight-text{
	color:$black;
	background:$yellow;
	border-radius: 5px;
	padding:5px;
	font-family:"Raleway",sans-serif;
	font-weight: bold;
}

.u-category{
	text-align: center;
	font-size:2rem;
	font-family:"Montserrat",sans-serif;
	color:$black;
	font-weight: lighter;
}


.u-imp-stat{
	text-align: center;
	font-size: 3.2rem;
}

.u-history-stat{
	font-size: 1.1rem;
	text-align: center;
}


.u-recovered{
	color:$green;
}

.u-deaths{
	color:$red;
}

.u-cases{
	color:$warning;
}