@import "../../sass/main";

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 90vh;

  &__content {
    flex: 0 0 45%;

    h1 {
      text-align: center;
      font-size: 5rem;
      margin: 1.2rem 0rem;
			color: $red;
			font-family:"Montserrat",sans-serif;
      span {
        display: block;
        font-size: 1.3rem;
        color: $green;
        margin: 1rem 0rem;
      }
    }
  }
  &__image {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
      height: 60%;
    }
  }
}
